@font-face {
  font-family: 'Object-Sans-Regular';
  src: url('/fonts/ObjectSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Object-Sans-Regular';
  src: url('/fonts/ObjectSans-Bold.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Object-Sans-Bold';
  src: url('/fonts/ObjectSans-Bold.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Maelstrom-Sans-Regular';
  src: url('/fonts/maelstrom-sans-web-bold.woff');
  font-weight: 400;
  font-style: normal;
}
