// Main Colors
$white: #ffffff;
$black: #000000;
$light-grayish-orange: #f8f5ee;

// Portfolio / Dail Special
$soft-pink: #f4c2db;
$soft-orange: #f9a252;
$dark-grayish-violet: #9e99ad;
$strong-red: #c04827;
$dark-moderate-red: #b14e4e;
$soft-violet: #ccb6e7;
$grayish-orange: #d8caa5;
$soft-yellow: #dfc986;
$strong-orange: #cf6402;

// Shop
$soft-blue: #80b0de;
$soft-lime-green: #84c698;
$light-green: #c3ff4e;
$strong-lime-green: #01ff58;
$grayish-yellow: #bebca6;
$soft-blue2: #8597cb;
$dark-lime-green: #3a947b;
$dark-green: #69895a;
$bright-blue: #3baaf9;
